{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <main>
            <p>Vous vous appelez « {{ name }} » !</p>
        </main>
    </article>

    <nav>
        <a href="{{ path('app_index_get', {
            nom: name,
        }) }}" class="btn btn-secondary">
            Retour à l'accueil
        </a>
    </nav>
{% endblock body %}
